@import "../../variables.css";

[k="resizable"] {
  resize: both;
  overflow: auto;
  border: 1px solid hsl(var(--k-border));
  border-radius: var(--k-radius);
  padding: 1rem;
  min-width: 2rem;
  min-height: 2rem;
}
