@import "../../variables.css";

[p="popover"],
[p="dropdown"] {
  position: relative;
  display: inline-block;
  overflow: visible;
}

[p="popover-content"],
[p="dropdown-content"],
[p="context-menu"],
[p="combobox-list"] {
  background-color: hsl(var(--p-popover));
  color: hsl(var(--p-popover-foreground));
  border-radius: var(--p-radius);
  border: 1px solid hsl(var(--p-border));
  padding: 0;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  pointer-events: none;
  animation: popover-show 200ms var(--p-ease);
  z-index: 10;
  outline: none;
  margin: 0;
  right: auto;
  bottom: auto;
}

[p="popover-content"],
[p="dropdown-content"],
[p="combobox-list"] {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  --p-gap: 0.25rem;
  transform-origin: top left;
  --p-x: var(--p-anchor-left);
  --p-y: calc(var(--p-anchor-top) + var(--p-anchor-height) + var(--p-gap));
  transform: translate(
    max(0px, min(calc(100vw - var(--p-content-width, 0px)), var(--p-x))),
    max(0px, min(calc(100vh - var(--p-content-height, 0px)), var(--p-y)))
  );
}

[p="popover-content"][data-flip~="x"],
[p="dropdown-content"][data-flip~="x"],
[p="combobox-list"][data-flip~="x"] {
  --p-x: calc(
    var(--p-anchor-left) + var(--p-anchor-width) - var(--p-content-width)
  );
}

[p="popover-content"][data-flip~="y"],
[p="dropdown-content"][data-flip~="y"],
[p="combobox-list"][data-flip~="y"] {
  --p-y: calc(var(--p-anchor-top) - var(--p-content-height) - var(--p-gap));
}

[p="popover-content"][open],
[p="dropdown-content"][open],
[p="combobox-list"][open],
[p="context-menu"][open] {
  display: inline-block;
  pointer-events: auto;
}

@keyframes popover-show {
  from {
    opacity: 0;
    transform: translate(var(--p-x), var(--p-y)) scale(0.9);
  }
}
