@import "../../variables.css";

[k="toggle-group"] {
  display: inline-flex;
  gap: 0;
}

[k="toggle-group"] > [k="toggle"]:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[k="toggle-group"] > [k="toggle"]:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[k="toggle-group"] > [k="toggle"] + [k="toggle"] {
  margin-left: -1px;
}

[k="toggle-group"] > [k="toggle"][aria-pressed="true"],
[k="toggle-group"] > [k="toggle"]:focus-visible {
  position: relative;
  z-index: 1;
}
