@import "../../variables.css";

[k="badge"] {
  display: inline-flex;
  align-items: center;
  border-radius: calc(var(--p-radius) - 2px);
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  /* Default variant */
  border: 1px solid transparent;
  background-color: hsl(var(--p-primary));
  color: hsl(var(--p-primary-foreground));
}

/* Variant: secondary */
[k="badge"][variant="secondary"] {
  border: 1px solid transparent;
  background-color: hsl(var(--p-secondary));
  color: hsl(var(--p-secondary-foreground));
}

[k="badge"][variant="secondary"]:hover {
  background-color: hsl(var(--p-secondary-hover));
}

/* Variant: destructive */
[k="badge"][variant="destructive"] {
  border: 1px solid transparent;
  background-color: hsl(var(--p-destructive));
  color: hsl(var(--p-destructive-foreground));
}

[k="badge"][variant="destructive"]:hover {
  background-color: hsl(var(--p-destructive-hover));
}

/* Variant: outline */
[k="badge"][variant="outline"] {
  border-color: hsl(var(--p-border));
  background-color: transparent;
  color: hsl(var(--p-foreground));
}
