[k="navigation-menu-list"] {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

[k="navigation-menu-link"] {
  text-decoration: none;
  color: inherit;
  padding: 0.25rem 0.5rem;
  border-radius: var(--k-radius-3);
}

[k="navigation-menu-link"]:hover {
  background-color: hsl(var(--k-muted));
}
