@import "../../variables.css";

[k="color-picker"] {
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  border: 1px solid hsl(var(--k-input));
  border-radius: var(--k-radius);
  background-color: hsl(var(--k-background));
  cursor: pointer;
}

[k="color-picker"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: calc(var(--k-radius) - 4px);
}

[k="color-picker"]::-webkit-color-swatch {
  border: none;
  border-radius: calc(var(--k-radius) - 4px);
}

[k="color-picker"]::-moz-color-swatch {
  border: none;
  border-radius: calc(var(--k-radius) - 4px);
}

[k="color-picker"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--k-ring));
}

[k="color-picker"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
