@import "../../variables.css";

[k="otp"] {
  --k-otp-len: attr(maxlength type(<number>), 4);
  --k-otp-cell: calc(100% / var(--k-otp-len));
  padding: 0;
  border: 1px solid hsl(var(--k-input));
  border-radius: var(--k-radius);
  background:
    repeating-linear-gradient(
      to right,
      transparent 0 var(--k-otp-cell),
      hsl(var(--k-input)) var(--k-otp-cell) calc(var(--k-otp-cell) + 1px)
    )
    hsl(var(--k-background));
  font: 600 200% ui-monospace, monospace;
  color: hsl(var(--k-foreground));
  text-overflow: clip;
  text-justify: inter-character;
  text-align-last: justify;
  padding-inline: calc((var(--k-otp-cell) - 1ch) / 2);
}

[k="otp"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--k-ring));
}

[k="otp"]:invalid {
  border-color: hsl(var(--k-destructive));
}
