@import "../../variables.css";
@import "../popover/style.css";

[p="dropdown-content"] {
  left: 0;
  --tf-x: 0;
  padding: 0.5rem 0;
  min-width: 100%;
}

[p="dropdown-menu-item"],
[p="context-menu-item"],
[p="combobox-option"] {
  appearance: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
  font: inherit;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus,
  &[selected] {
    background-color: hsl(var(--p-muted));
  }
}

@supports (position-anchor: --p-anchor) and (position-try-fallbacks: flip-block) {
  [p="dropdown-content"] {
    left: anchor(start);
    transform: none;
  }
}
