@import "../../variables.css";

[k="switch"] {
  appearance: none;
  position: relative;
  display: inline-block;
  width: calc(2.625rem * var(--k-scale));
  height: calc(1.375rem * var(--k-scale));
  border-radius: 9999px;
  background-color: hsl(var(--k-input));
  border: 1px solid hsl(var(--k-input));
  cursor: pointer;
  padding: 0;
  transition: background-color 150ms ease, border-color 150ms ease;
}

[k="switch"]::before {
  content: "";
  position: absolute;
  top: calc(0.125rem * var(--k-scale));
  left: calc(0.1875rem * var(--k-scale));
  width: calc(1rem * var(--k-scale));
  height: calc(1rem * var(--k-scale));
  border-radius: 9999px;
  background-color: hsl(var(--k-background));
  transition: transform 250ms var(--k-ease);
}

[k="switch"]:checked {
  background-color: hsl(var(--k-primary));
  border-color: hsl(var(--k-primary));
}

[k="switch"]:checked::before {
  transform: translateX(calc(1.2rem * var(--k-scale)));
}

[k="switch"]:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--k-ring));
}

[k="switch"]:disabled {
  opacity: 0.5;
  pointer-events: none;
}
