[k="progress"] {
  width: 100%;
  height: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  border-radius: var(--k-radius-3);
  background-color: hsl(var(--k-secondary));
}

[k="progress"]::-webkit-progress-bar {
  background-color: transparent;
}

[k="progress"]::-webkit-progress-value {
  background-color: hsl(var(--k-primary));
  transition: all 300ms var(--k-ease);
}

[k="progress"]::-moz-progress-bar {
  background-color: hsl(var(--k-primary));
  transition: all 300ms var(--k-ease);
}
