@import "../../variables.css";

[k="alert"] {
  border-radius: var(--k-radius);
  border: 1px solid hsl(var(--k-border));
  padding: 1rem;
  background-color: hsl(var(--k-muted));
  color: hsl(var(--k-foreground));
}

[k="alert"][variant="destructive"] {
  background-color: hsl(var(--k-destructive));
  color: hsl(var(--k-destructive-foreground));
}
