@import "../../variables.css";

[k="collapsible"] > summary {
  display: none;
}

[k="collapsible"]::details-content {
  overflow: clip;
  height: 0;
  transition: height 0.25s var(--p-ease), content-visibility 0.25s linear allow-discrete;
}

@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  [k="collapsible"][open]::details-content {
    height: auto;
  }
}

@supports not (interpolate-size: allow-keywords) {
  [k="collapsible"]::details-content {
    transition: none;
  }

  [k="collapsible"][open]::details-content {
    height: auto;
  }
}
