@import "../../variables.css";
@import "../../components/popover/style.css";
@import "../dropdown-menu/style.css";

body [p="context-menu"] {
  position: fixed;
  position-anchor: --p-context-menu;
  left: anchor(left);
  top: anchor(top);
  --tf-x: 0;
  min-width: 6rem;
  margin-left: var(--p-context-menu-x);
  margin-top: var(--p-context-menu-y);
  padding: 0.25rem 0;
}
body [p="context-menu"][data-flip-x] {
  margin-left: calc(var(--p-context-menu-x) - var(--p-context-menu-w));
}
body [p="context-menu"][data-flip-y] {
  margin-top: calc(var(--p-context-menu-y) - var(--p-context-menu-h));
}
[p="context-menu"]::backdrop {
  opacity: 0;
}
