@import "../../variables.css";
@import "../../components/popover/style.css";
@import "../dropdown-menu/style.css";

body [k="context-menu"] {
  position: fixed;
  left: var(--p-context-menu-client-x, 0px);
  top: var(--p-context-menu-client-y, 0px);
  --tf-x: 0;
  min-width: 6rem;
  margin: 0;
  max-inline-size: calc(100vw - 0.5rem);
  max-block-size: calc(100dvh - 0.5rem);
  overflow: auto;
}

@position-try --p-context-menu-right-top {
  left: auto;
  right: var(--p-context-menu-client-right, 0px);
  top: var(--p-context-menu-client-y, 0px);
  bottom: auto;
}

@position-try --p-context-menu-left-bottom {
  left: var(--p-context-menu-client-x, 0px);
  right: auto;
  top: auto;
  bottom: var(--p-context-menu-client-bottom, 0px);
}

@position-try --p-context-menu-right-bottom {
  left: auto;
  right: var(--p-context-menu-client-right, 0px);
  top: auto;
  bottom: var(--p-context-menu-client-bottom, 0px);
}

@supports (position-try-fallbacks: --p-context-menu-right-top) {
  body [k="context-menu"] {
    position-try-fallbacks: --p-context-menu-right-top, --p-context-menu-left-bottom, --p-context-menu-right-bottom;
  }
}

[k="context-menu"]::backdrop {
  opacity: 0;
}
