@import "../../variables.css";

[k="aspect-ratio"] {
  position: relative;
  width: 100%;
  --ratio: 1 / 1;
  aspect-ratio: var(--ratio);
}

[k="aspect-ratio"] > * {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
