@import "../../variables.css";

[p="sidebar"] {
  position: fixed;
  /* position: sticky; */
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0.5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border: none;
  border-right: 1px solid hsl(var(--p-border));
  padding: 1rem;
  overflow: auto;
  overscroll-behavior: contain;
  transition: all 300ms var(--p-ease);
  z-index: 500;
}
@media (min-width: 641px) {
  [p="sidebar"] + * {
    transition: padding-left 300ms var(--p-ease);
  }
  [p="sidebar"]:not([hidden]) + * {
    padding-left: 16rem;
  }
  [p="sidebar"][hidden] {
    margin-right: -16rem;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 640px) {
  [p="sidebar"] {
    --modal: 1;
    position: fixed;
    max-width: 80vw;
    border-right: none;
    background-color: hsl(var(--p-background));
    transform: translateX(-20px) translateX(-100%);
    transition: transform 300ms var(--p-ease);
    box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
  }
  [p="sidebar"][open] {
    transform: none;
  }
  [p="sidebar"]::backdrop {
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
  }
  /*
  html:has([p="sidebar"]):before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
    transition: all 300ms var(--p-ease);
    z-index: 499;
  }
  html:has([p="sidebar"][open]):before {
    opacity: 1;
    pointer-events: all;
    overscroll-behavior: contain;
  }
  */
}
