@import "../../variables.css";

[k="dialog-content"] {
  border: none;
  border-radius: var(--k-radius);
  background-color: hsl(var(--k-background));
  padding: 0;
  max-width: 32rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  opacity: 0;
  transform: scale(0.96);
  transition:
    opacity 300ms var(--k-ease),
    transform 300ms var(--k-ease),
    display 300ms allow-discrete,
    overlay 300ms allow-discrete;
}

[k="dialog-content"][open] {
  display: flex;
  opacity: 1;
  transform: scale(1);
  overscroll-behavior: contain;
}

@starting-style {
  [k="dialog-content"][open] {
    opacity: 0;
    transform: scale(0.96);
  }
}

[k="dialog-content"]::backdrop {
  background-color: rgb(0 0 0 / 0.8);
  backdrop-filter: blur(1px);
  overscroll-behavior: contain;
  overflow: auto;
  scrollbar-width: none;
  opacity: 0;
  transition:
    opacity 300ms var(--k-ease),
    display 300ms allow-discrete,
    overlay 300ms allow-discrete;
}

[k="dialog-content"][open]::backdrop {
  opacity: 1;
}

@starting-style {
  [k="dialog-content"][open]::backdrop {
    opacity: 0;
  }
}
