@import "../../variables.css";

[p="hover-card"] {
  position: relative;
  display: inline-block;
}

[p="hover-card-content"] {
  position: absolute;
  top: 100%;
  left: 50%;
  width: max-content;
  transform: translateX(-50%) scale(0.95);
  transform-origin: top center;
  background-color: hsl(var(--p-popover));
  color: hsl(var(--p-popover-foreground));
  border-radius: var(--p-radius);
  border: 1px solid hsl(var(--p-border));
  padding: 0.5rem;
  margin-top: 0.25rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms cubic-bezier(0.4,0,0.2,1),
    transform 150ms cubic-bezier(0.4,0,0.2,1);
  z-index: 10;
}

[p="hover-card"]:hover > [p="hover-card-content"] {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) scale(1);
}
