@import "../../variables.css";

[k="table"] {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
}

[k="table"] th,
[k="table"] td {
  border: 1px solid hsl(var(--k-border));
  padding: 0.5rem;
}

[k="table"] th {
  background-color: hsl(var(--k-muted));
  text-align: left;
}
