@import "../../variables.css";

[p="avatar"] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  object-fit: cover;
  background-color: hsl(var(--p-muted));
  font-size: 0.01em;
  position: relative;
  overflow: hidden;
}

[p="avatar"]:after {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--p-muted));
  font-size: 100em;
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(alt);
}
