/* Basic reset for components to ensure consistent behavior */
[k] {
  box-sizing: border-box;
}

[k]:before,
[k]:after {
  box-sizing: border-box;
}

/* Remove tap highlight from interactive elements */
:where([k], a, button, input, select, textarea, summary) {
  -webkit-tap-highlight-color: transparent;
}
