@import "../../variables.css";

[k="accordion"] {
  border-bottom: 1px solid hsl(var(--p-border));
}

[k="accordion"]:last-of-type {
  border-bottom: none;
}

[k="accordion"] > summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  transition: color 0.2s;
  user-select: none;
}

[k="accordion"] > summary::-webkit-details-marker {
  display: none;
}

[k="accordion"] > summary:hover {
  text-decoration: underline;
}

[k="accordion"] > summary::after {
  content: '';
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.5rem;
  transform: rotate(45deg);
  transition: transform 0.2s ease-out;
}

[k="accordion"][open] > summary::after {
  transform: rotate(-135deg);
}

[k="accordion"] > *:not(summary) {
  font-size: 0.875rem;
  padding: 0 0 1rem 0;
}

[k="accordion"]::details-content {
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease, content-visibility 0.2s linear;
  transition-behavior: allow-discrete;
}

@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  [k="accordion"][open]::details-content {
    height: auto;
  }
}

@supports not (interpolate-size: allow-keywords) {
  [k="accordion"]::details-content {
    transition: none;
  }

  [k="accordion"][open]::details-content {
    height: auto;
  }
}
